
@{
    ViewData["Title"] = "Index";
}


<a><h2 class="text-center text-success">Real Time Chat Application using SignalR<img src="https://blog.mirrorfly.com/wp-content/uploads/2021/04/build-chat-app-for-android.jpg" width="1330" alt="chat application" /></h2></a>


